*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*======================CSS=======Typhography================*/
.container{
    width:80%;
    margin:0 auto;
}
ul li{
    list-style-type:none;
}
a{
    text-decoration: none;
}
.btn{
    cursor:pointer;
    border:none;
    padding:10px 15px;
    border-radius:5px;
}
/*=============================Typhography=== CSS=============*/

/*===================Navbar========Section===================================*/
#navbar{
    border-bottom:1px solid #ddd;
    padding:30px 0;
}
.nav-logo a{
    text-transform: uppercase;
    color:rgb(51, 50, 50);
    font-size:30px;
    font-weight:600;
}
.nav-logo a:hover{
    color:purple;
}
.navbar-flex{
    display:flex;
    justify-content:space-between;
}
.navbar-menu ul{
    display:flex;
}
.navbar-menu ul li{
    padding:10px 20px;
}
.navbar-menu ul li a{
    text-transform:uppercase;
    color:#000;
}
.navbar-menu ul li a:hover{
    color:purple;
}
.btn-hire-me, .btn-resume{
    background:purple;
    color:#fff;
    padding:15px 30px;
    font-size: 18px;
    transition:0.5s all ease;
}
.btn-hire-me:hover{
    background: transparent;
    color:purple;
    outline:1px solid purple;
}
/*===================Navbar========Section===================================*/
/*===================Header========Section===================================*/
#header{
    width:100%;
    background:#fff;
    color:#000;
}
.header-flex{
    display:flex;
    align-items:center;
    height:100vh;
    justify-content:space-between;
}
.header-width-divided{
    width:50%;
}
.header-text h1{
    font-weight:700;
    font-size:40px;
}
.header-text h3{
    font-weight:400;
    font-size:40px;
    margin:40px 0;
    color:purple;
}
.header-text p{
    font-size:18px;
    text-align: justify;
    letter-spacing: 0.5px;
    color:#707070;
    margin-bottom: 40px;
}
.btn-resume:hover{
    background: transparent;
    color:purple;
    outline:1px solid purple;
}
.header-images{
    margin-right:150px;
}
.header-images img{
    width:100%;
}
/*===================Header========Section===================================*/
